
*.vsidx
*.lock
*.db
*.db-shm
.vs/idle-game-project/v17/.suo
.vs/idle-game-project/v17/Browse.VC.opendb
*.db-wal
*.exe
*.pdb
*.tlog
*.recipe
*.iobj
*.ipdb
*.log
*.obj
*.ipch
.vs/yt-dlp-imgui/v17/.suo
*.opendb
*.m4a
